// Global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: #eee;
}
ul {
  list-style-type: none;
}
h1 {
  margin-bottom: 1rem;
}
// app
#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  .link {
    color: green;
    text-decoration: none;
  }
  .navbar {
    align-items: center;
    display: flex;
    margin-bottom: 0.9rem;
    .navbar-element {
      margin-right: 1rem;
    }
  }
}
// pages
#home-page,
#installation-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
